@use '../variables'
  

#gameSection
    height: 300px
    background: no-repeat
    background-size: cover
    mask-image: linear-gradient(to top, transparent 5%, white 100%)

#gameInfosSection
    position: relative
    align-items: flex-start

#gameSectionContent
    position: absolute
    top: -100px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    flex-wrap: wrap
    gap: 20px
    padding: 10px
    z-index: 1

    & img
        width: 100%
        border: 1px solid variables.$secundary-color
        border-radius: 10px
    
    & #content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
    
        & p 
            max-width: 700px
            font-size: 14px
            line-height: 2em
            text-align: justify

    & aside
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
        max-width: 500px
        padding: 10px
        border-radius: 10px
        background: linear-gradient(45deg, #9a9c9a13 70%, #4E3F3B)

        & #aboutGame   
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            flex-wrap: wrap
        
        & h3 
            width: 100%
            text-align: center

        & h3::last-child
            width: 150px

        & p
            text-align: center
            width: 150px
        
        & #containerGenreData
            display: flex
            justify-content: center
            text-align: center
            flex-wrap: wrap
    
    & #systemRequirements
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        max-width: 500px
        border-radius: 10px
        padding: 10px
        line-height: 2em
        background: linear-gradient(45deg, #9a9c9a13 70%, #4E3F3B)

        & h2
            text-align: center
    
    & #containerImgButton
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex-wrap: wrap
        gap: 10px

        & #conteinerButtons
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            gap: 10px 

            & button
                min-width: 100px
    


    
